/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2015, 1:20:06 AM
    Author     : xgao3
*/
        #header {
            background-color:#3B5998;
            color:white;
            text-align:center;
            padding:5px;
            box-shadow: 0px 0px 3px 3px #000;
            border-radius: 5px;
        }
        #leftbutton {
            line-height:30px;
            float:left;
            margin-right: 10%;
            margin-left: 0%;
            border: 3px solid #8AC007;
            top:50%;
            

        }
        #rightbutton {
            line-height:30px;
            margin-right: 0%;
            margin-left: 90%;
            border: 3px solid #8AC007;
            top: 50%;

        }
        #prev{
                        min-height: 1em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            display: table-cell;
            
            
        }
        #next{
                        min-height: 1em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            display: table-cell;
            
        }
        #middle {
          
            padding:10px;
            text-align:center;
            
            border: 3px solid #8AC007;

        }
       
        h2 {
            font-size: 100px;
        }
        
        #playpause{
            position: relative;
            float:bottom;
            border: 3px solid #8AC007;
            margin-bottom:30px;
            
        }
        #play{
            min-height: 1em;
            display: table-cell;
            vertical-align: middle;
            margin-left: auto;
          margin-right: auto
        }
        #pause{
            min-height: 1em;
            display: table-cell;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto
        }
        
        #footer {
            background-color:#3B5998;
            color:white;
            clear:both;
            text-align:center;
            padding:5px;	 
            box-shadow: 0px 0px 3px 3px #000;
            border-radius: 5px;
        }
